pytest>=7.4.0
ruff>=0.1.0
ty>=0.0.1
coverage[toml]>=7.2
click>=8.1.7
bump2version>=1.0.1
codespell>=2.2.4
pre-commit>=2.21.0
pytest-cov>=4.1.0
toml>=0.10.2
nox>=2026.4.10
safety>=3.7.0
mypy>=1.20.2
pytype>=2022.11.29
typeguard>=4.1.0
xdoctest>=1.1.0
pytest-xdist>=3.3.1
commitizen>=2.42.1
mike>=1.1.2
livereload>=2.7.1
importlib-metadata>=4.2
rich>=13.8.1
streamlit>=1.22.0
